.col
  .card{id: keyword.id}
    .card-body
      %h5.card-title
        .fw-normal
          = link_to titleize(keyword.value), keyword, class: 'text-decoration-none'
      .card-text
        .fw-light
          %small
            = keyword.stats
    .card-footer
      %small.text-muted.fw-light
        updated on 
        .pull-right
          = keyword.updated_at.to_date
