- if defined?(path)
  - search_path = path
  - placeholder = "Search your keywords"
  - value       = params[:value]
- else
  - search_path = keywords_path
  - placeholder = "Search Keywords"
  - value       = params[:value]
.mb-2.pt-2
  = form_tag search_path, method: :get do
    = text_field_tag :value, value, class: 'form-control', placeholder: placeholder
