.pull-right
  = link_to 'New Keyword', new_keyword_path, class: 'btn btn-sm btn-primary'
.h3.mb-3.fw-normal 
  Listing keywords
%hr

.row.row-cols-1.row-cols-lg-4.row-cols-md-3.g-4
  = render partial: 'key_card', collection: @keywords, as: :keyword
