
.sidebar.col-md-3.col-lg-2.d-md-block.bg-light.collapse{id: 'sidebarMenu'}
  .position-sticky.p-3
    %ul.nav.nav-pills.flex-column.pt-2
      %li
        %a.nav-link.link-dark{href: root_path}
          Dashboard
      - if user_signed_in?
        %li
          %a.nav-link.link-dark{href: user_keywords_keywords_path}
            My Keywords
      - else
        %li
          = link_to "Sign up", new_user_registration_path, class: 'nav-link link-dark'
          = link_to "Login", new_user_session_path, class: 'nav-link link-dark'

    - if user_signed_in?
      %hr
      .dropdown
        %a#dropdownUser2.d-flex.align-items-center.link-dark.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: '#'}
          %img.rounded-circle.me-2{alt: "", height: '32', src: 'https://github.com/ltenzil.png', width: '32'}
          %strong
            = fetch_name()
        %ul.dropdown-menu.text-small.shadow{"aria-labelledby" => "dropdownUser2"}
          %li
            %a.dropdown-item{href: edit_user_registration_path} Settings          
          %li
            %hr.dropdown-divider
          %li        
            = link_to "Logout", destroy_user_session_path, class: 'dropdown-item', method: :delete

