.d-flex.flex-column.flex-shrink-0.p-3.bg-light.sidebar
  %a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none{href: root_path}
    %svg.bi.me-2{:height => "32", :width => "40"}
      %use{"xlink:href" => "#bootstrap"}
    %span.fs-4 Web Scraper
  %hr/
  %ul.nav.nav-pills.flex-column.mb-auto
    %li
      %a.nav-link.link-dark.active{href: root_path}
        %svg.bi.me-2{:height => "16", :width => "16"}
          %use{"xlink:href" => "#speedometer2"}
        Dashboard

  - if user_signed_in?
    %hr
    .dropdown
      %a#dropdownUser2.d-flex.align-items-center.link-dark.text-decoration-none.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: '#'}
        %img.rounded-circle.me-2{alt: "", height: '32', src: 'https://github.com/ltenzil.png', width: '32'}
        %strong
          = fetch_name()
      %ul.dropdown-menu.text-small.shadow{"aria-labelledby" => "dropdownUser2"}
        %li
          %a.dropdown-item{href: edit_user_registration_path} Settings          
        %li
          %hr.dropdown-divider/
        %li        
          = link_to "Logout", destroy_user_session_path, class: 'dropdown-item', method: :delete
