.d-flex.flex-column.flex-shrink-0.p-3.bg-light.sidebar
  %a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.link-dark.text-decoration-none{href: root_path}
    %svg.bi.me-2{:height => "32", :width => "40"}
      %use{"xlink:href" => "#bootstrap"}
    %span.fs-4 Web Scraper
  %hr/
  %ul.nav.nav-pills.flex-column.mb-auto
    %li
      %a.nav-link.link-dark.active{href: root_path}
        %svg.bi.me-2{:height => "16", :width => "16"}
          %use{"xlink:href" => "#speedometer2"}
        Dashboard
